<div class="row">
  <div class="left">
    {{#ember-popper class="popper"}}
      Hello from the left! I have no explicit target.
      <div class="popper-arrow" x-arrow></div>

      {{#ember-popper class="popper" renderInPlace=true}}
        <span style="white-space: nowrap">P O P P E R C E P T I O N</span>
        <br>
        I also have no explicit target,
        <br>
        but am a child of the popper above
        <div class="popper-arrow" x-arrow></div>
      {{/ember-popper}}
    {{/ember-popper}}
  </div>
  <div class="right"></div>
</div>

{{#if showTargetedPopper}}
  {{#ember-popper class="popper" target=".right"}}
    Hello from the right!
    <br>
    I explicitly target the right div
    <div class="popper-arrow" x-arrow></div>
  {{/ember-popper}}
{{/if}}

<button {{action "toggleShowTargetedPopper"}}>toggle show targeted popper</button>
