<div class="row">
  <div class="left">
    {{#ember-popper-targeting-parent id='parent' class='popper' eventsEnabled=eventsEnabled}}
      Hello from the left! I have no explicit target.
      <div class="popper-arrow" x-arrow></div>

      {{#ember-popper-targeting-parent class="popper" renderInPlace=true}}
        <span style="white-space: nowrap">P O P P E R C E P T I O N</span>
        <br>
        I also have no explicit target,
        <br>
        but am a child of the popper above
        <div class="popper-arrow" x-arrow></div>
      {{/ember-popper-targeting-parent}}
    {{/ember-popper-targeting-parent}}
  </div>
  <div class="right"></div>
</div>

{{#if showTargetedPopper}}
  {{#ember-popper class="popper" popperTarget=_popperTarget}}
    Hello from the right!
    <br>
    I explicitly target the right div
    <div class="popper-arrow" x-arrow></div>
  {{/ember-popper}}
{{/if}}

<div class="row">
  <button {{action "toggleShowTargetedPopper"}}>toggle show targeted popper</button>
</div>
<div class="row">
  <button {{action "toggleEventsEnabled"}}>toggle eventsEnabled on parent popper</button>
</div>
